@import "sharedstyles.scss";


// CONTENT

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: clamp(2rem, 10vw, 200px);

  .section-header {
    position: absolute;
    top: 12px;
    width: 80%;
    box-shadow: 0px 2px 0 0 $highlight;
  }

  .section-image-container {
    width: clamp(200px, 40vw, 50%);
    aspect-ratio: 1/1;
    margin: 1rem;
    border: 4px solid $highlight;
    box-shadow: 4px 4px 0px black;
    object-fit: cover;

    .section-image {
      object-fit: cover;
    }
  }
  .section-content {
    width: clamp(400px, 80vw, 1200px);
  }

  //Justitfy odd / even to left and right
  &:nth-child(odd) {
    // background: $dark-red;
    color: white;
    text-align: left;

    .section-header {
    }
    .section-content {
      display: flex;
      flex-direction: column;
      align-items: left;
    }
  }
  &:nth-child(even) {
    // background: $deep-blue;
    color: white;
    .section-header {
      position: absolute;
      top: 12px;
    }

    .section-content {
      display: flex;
      flex-direction: column;
      align-items: right;
      text-align: right;
    }
  }
}

.list-text-icons {
}
.list-text {
}

.text-block {
  // width: clamp(300px, 100%, 40vw);
  // padding: calc(1em + 1vw);
  // font-family: $sans;

  p {
    @include text-small;
  }
  span {
    color: $highlight;
  }
  h3 {
    @include text-medium;
  }

  h2 {
    @include text-large;
    h1 {
      @include text-huge;
    }
  }
}


// END CONTENT