@import "sharedstyles.scss";


// **********  Outer Layer  **********
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $monospace;
}
#page {
  width: 100vw;
  max-width: 100%;
  background-color: $background;
  display: flex;
  flex-direction: column;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 100;
  // background: #00000050;
  background: $darker-red;

  .logo {
    color: $highlight;
    font-weight: 700;
    letter-spacing: 1px;
    transition: letter-spacing 200ms;
    &:hover {
      letter-spacing: 2px;
    }
  }
}

#nav {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 2rem;
  @include text-medium;

  .navlink {
    .navlink-number {
      color: $highlight;
    }
    .navlink-word {
      color: white;
      transition: color 200ms;
    }
    &:hover {
      .navlink-word {
        color: $highlight;
        // font-size: 1.5rem;
      }
    }
  }
}

.like-a-button-container {
  border: 1px solid $highlight;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: $highlight;
  font-weight: 700;
  transition: background-color 400ms, color 200ms;
  width: fit-content;

  &:hover {
    background-color: $highlight;
    color: $background;
  }
}

.side-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 99;
}

.left-container {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 0.5rem;

  .social-links {
    display: flex;
    flex-direction: column;
  }

  .social-icon {
    color: $highlight;
    padding: 0.5rem 0;

    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: translateY(-8px);
    }
  }

  .spacing-bar {
    align-self: center;
    justify-content: center;
    margin: auto;
    height: 80px;
    width: 1px;
    background-color: $highlight;
  }
}

.right-container {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 0.5rem;

  .email-link {
    color: $highlight;
    padding: 0.5rem 0;
    writing-mode: vertical-lr;
    font-family: $monospace;
    letter-spacing: 1px;
    transition: letter-spacing 200ms;
    line-height: 32px;

    &:hover {
      letter-spacing: 2px;
      transform: trnaslateY(-8px);
    }
  }

  @media screen and (max-width: 1200px) {
    bottom: auto;
    right: auto;
    top: 0;
    left: 0;
    rotate: 180deg;
    .spacing-bar {
      background-color: transparent;
    }
  }
}

.spacing-bar {
  align-self: center;
  justify-content: center;
  margin: auto;
  height: 80px;
  width: 1px;
  background-color: $highlight;
}
// end out ;ayer
// **********  Main Layer  **********