@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
// font-family: 'Abril Fatface', cursive; //300-800
// font-family: 'Open Sans', sans-serif; //300-800
// font-family: 'Poppins', sans-serif; //100-900

// Variabels --------------------------------------------------------
$dark-1: #111;
$dark-2: #222;
$dark-3: #333;
$dark-4: #444;
$dark-5: #555;
$dark-6: #666;

$light-1: #fff;
$light-2: #eee;
$light-3: #ddd;
$light-4: #ccc;
$light-5: #bbb;
$light-6: #aaa;

$highlight-1: #eecc33;

$background: $dark-3;
$header-background: $dark-2;
$text-color-light: $light-2;
$text-color-dark: $dark-2;

$monospace: monospace;
$serif: "Abril Fatface", serif;
$sans: "Open sans", sans-serif;

$header-height: 60px;

$inner-clamp: clamp(300px, 100%, 600px);
$bigger-clamp: clamp(300px, 100%, 800px);
$sidebar-width: clamp(40px, 100%, 4vw);
$section-width: clamp(300px, 100%, 1400px);

// ==================================================================
// Mixins -----------------------------------------------------------
@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin text-small {
  font-size: clamp(0.75rem, calc(0.75rem + 0.25vw), 1rem);
}

@mixin text-medium {
  font-size: clamp(1.25rem, calc(1.25rem + 1vw), 1.25rem);
}

@mixin text-large {
  font-size: clamp(1.5rem, calc(1.5rem + 1vw), 1.8rem);
}

@mixin text-huge {
  font-size: clamp(2.25rem, calc(2rem + 5vw), 4rem);
}

@mixin hover-line {
  position: relative;
  padding-bottom: 0px;
  &::after {
    content: "";
    width: 0%;
    height: 0px;
    background-color: $highlight-1;
    position: absolute;
    bottom: -2px;
    left: 0px;
    transition: width 400ms ease;
  }
  &:hover {
    &:after {
      width: 100%;
      height: 2px;
    }
  }
}

@mixin hover-highlight {
  color: $highlight-1;
  transition: 200ms;

  &:hover {
    color: $text-color-light;
  }
}

@mixin hover-image-scroll {
  vertical-align: top;
  object-position: 0 0;
  transition: object-position 500ms;
  &:hover {
    object-position: 0 100%;
  }
}
// ==================================================================

//Global styles -----------------------------------------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $sans;
  // border: 1px solid lime;
}

body {
  max-width: 100%;
  width: 100vw;
  overflow-x: hidden;
  background-color: $background;
}

html {
  scroll-behavior: smooth;
  scroll-snap-align: start;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#page {
  padding: 0 $sidebar-width;
}

#header {
  height: $header-height;
  font-family: $monospace;
  background: $header-background;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0 2vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 8;
  box-shadow: 0 0 10px 0px black;

  .resume-link {
    font-family: $sans;
  }
}

#logo {
  @include text-large;
  color: $highlight-1;
  opacity: 1;
  font-family: "Abril Fatface", cursive;
  font-weight: 600;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 9999;
}

#nav-button {
  //Displays on small screen
  z-index: 9;
  position: fixed;
  top: 0.5rem;
  right: 1rem;
  display: none;
  font-size: 32px;
  outline: none;
  border: none;
  width: 40px;
  height: 40px;
  color: white;
  background: none;
  transition: scale 120ms;
  &:hover {
    scale: 1.2;
  }
}

.nav {
  //Nav for desktop display
  @include text-medium;
  @include flex-row;
  height: 100%;
  font-family: $monospace;
  .navlinks-container {
    @include flex-row();
    gap: 5vw;
    justify-content: flex-end;
  }

  .email-link {
    display: none; //only for mobile nav
  }

  .navlink {
    white-space: nowrap;
    .navlink-number {
      color: $highlight-1;
      font-family: $monospace;
    }
    .navlink-word {
      color: $text-color-light;
      transition: color 200ms;
      font-family: $monospace;
    }
    &:hover {
      .navlink-word {
        color: $highlight-1;
      }
    }
  }
}
.click-me-container {
  border: 2px solid $highlight-1;
  padding: 0.5rem 1rem;
  color: $highlight-1;
  letter-spacing: 2px;
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 300ms ease, color 200ms ease;
  &:hover {
    background-color: $highlight-1;
    color: $header-background;
    scale: 1.02;
  }
}

.image-container {
  width: $bigger-clamp;
  position: relative;
  top: 0.5rem;
  left: 0.5rem;
  border: 2px solid $highlight-1;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
  top: -0.5rem;
  left: -0.5rem;
}
// ==================================================================

// Section Defaults -------------------------------------------------
/* 
  Sections are defaulted for flex-column, center aligned, and full height.
  Breakpoint is at 900px
*/
section {
  @include flex-column;
  margin: 10vh 0;
  scroll-margin-top: $header-height;
  .section-header {
    @include flex-row;
    @include text-medium;
    justify-content: flex-start;
    margin-bottom: 2rem;
    width: 100%;
    font-weight: 700;
    text-transform: capitalize;
    color: $text-color-light;
    gap: 1rem;
    white-space: nowrap;
    padding: 0 0.5rem;
    .header-number {
      color: $highlight-1;
      font-family: $monospace;
    }
    &::after {
      content: "";
      display: block;
      width: clamp(0%, 100vw, 100%);
      height: 2px;
      flex-shrink: 1;
      background-color: $highlight-1;
    }
  }

  .section-content {
    @include flex-column;
    width: $section-width;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .section-text-block {
    @include text-small;
    font-family: $sans;
    color: $text-color-light;
    br {
      margin-bottom: 1rem;
    }
  }
}
// ==================================================================

// Sections ---------------------------------------------------------
#hero {
  font-family: $sans;
  height: 90vh;

  .hero-intro-text {
    @include text-huge;
    @include flex-column;
    color: $text-color-light;
    font-weight: 800;
    text-align: center;
    .hero-name {
      color: $highlight-1;
      white-space: nowrap;
    }
  }

  .hero-button {
    @include text-medium;
    margin-top: 10vh;
    padding: 0.5rem 5vw;
    font-weight: 800;
    border: 4px solid $highlight-1;
  }
}

#about {
  .about-content {
    @include flex-row;
    gap: 5vw;
    padding: 0 5vw;
  }

  .about-image-container {
    width: $inner-clamp;
    aspect-ratio: 1/1.5;
    object-fit: cover;
    border: 0.2rem solid $highlight-1;
  }

  .about-text-list {
    @include flex-column;
    width: $inner-clamp;
    gap: 5vw;
  }

  #skills-list {
    width: $inner-clamp;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .skill-list-item {
      @include flex-row;
      @include hover-line;
      justify-content: flex-start;
      flex-wrap: nowrap;
      align-items: center;
      color: $highlight-1;
      line-height: 32px;
      margin-bottom: 1rem;
      .skill-list-title {
        @include text-small;
        font-family: $monospace;
      }
      .skill-list-icon {
        @include text-large;
      }
    }
  }
}

#projects-container {
  @include flex-column;
  @include text-medium;
  font-family: $sans;
  color: $text-color-light;

  .project {
    @include flex-row;
    padding: 5vh 5vw;
    position: relative;
    gap: 2vw;
    margin-bottom: 3vh;

    &:nth-child(odd) {
      flex-direction: row-reverse;
    }

    .project-image-container {
      aspect-ratio: 4/3;
      min-width: 300px; //shrinks if removed
      .project-image {
        @include hover-image-scroll;
      }
    }

    .project-info-container {
      @include flex-column;
      min-width: 300px; //shrinks if removed
      width: $inner-clamp;
      gap: 1rem;
      justify-content: flex-end;
      align-items: flex-end;
    }

    .project-description-container {
      @include text-small;
      padding: 1rem;
      background: $dark-4;
      box-shadow: 4px 4px 10px 0px #222;
    }

    .project-list-link-container {
      @include flex-column;
      @include text-small;
      align-items: flex-end;

      .project-list {
        @include flex-row;
        color: $highlight-1;
        justify-content: flex-end;
        width: 80%;
        flex-wrap: wrap;

        .project-list-item {
          letter-spacing: 2px;
          font-family: $monospace;
          ~ .project-list-item {
            &::before {
              content: "/";
              margin: 0 0.5rem;
            }
          }
        }
      }

      .project-links {
        text-align: right;
        margin: 1rem 0.5rem;
        .project-link {
          @include text-large;
          @include hover-highlight;
          padding: 0.5rem;
        }
      }
    }
  }
}

#contact {
  .section-content {
    width: $inner-clamp;
  }

  .section-text-block {
    @include flex-column;
    align-items: flex-start;
    h2 {
      margin: 5vh 0;
      @include text-large;
    }
  }

  .contact-form-container {
    @include text-small();
    margin: 5vh 0;

    input::placeholder,
    textarea {
      color: $text-color-light;
    }
    input,
    textarea {
      @include text-small;
      width: 100%;
      color: $text-color-light;
      background: $dark-1;
      margin: 0.5rem 0;
      padding: 0.5rem 0.5rem;
      resize: vertical;
      border: none;
    }
  }
  .click-me-container {
    width: fit-content;
    padding: 0.25rem 1rem;
  }
}

#footer {
  @include flex-row;
  padding: 0 $sidebar-width;
  font-family: $monospace;
  @include text-small;
  color: $text-color-light;
  background: $dark-2;
  justify-content: space-between;
  height: 20vh;
  box-shadow: 0px -1px 4px 1px rgba(0, 0, 0, 0.5);

  .footer-left {
    @include flex-column;
    font-weight: 600;

    p {
      @include hover-highlight;
      width: 100%;
      line-height: 30px;
      margin: 0.25rem;
      letter-spacing: 2px;
    }
    .footer-icon {
      scale: 1.5;
      margin-right: 0.5rem;
    }
  }
}
// ==================================================================

// Media Queries ----------------------------------------------------
@media screen and (max-width: 900px) {
  #nav-button {
    display: block;
  }
  .nav {
    @include text-medium;
    @include flex-column;
    font-family: $monospace;
    width: 0vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    user-select: none;
    transition: width 400ms;

    .navlinks-container {
      @include flex-column;
      justify-content: flex-start;
      padding-top: 20vh;
      background: #666;
      height: 100vh;
      width: 100%;
      gap: 5vh;
    }

    .email-link {
      display: block;
      color: $highlight-1;
      position: absolute;
      bottom: 5vh;
      font-family: monospace;
    }

    .navlink {
      white-space: nowrap;
      width: auto;

      .navlink-number {
        color: $highlight-1;
        font-family: $monospace;
      }
      .navlink-word {
        color: $text-color-light;
        font-family: $monospace;
        @include hover-highlight;
      }
    }
  }

  .nav-display {
    width: 90vw;
    opacity: 1;
    user-select: auto;
  }

  #about {
    .section-content {
      @include flex-column;
    }
  }
  #projects-container {
    .project {
      @include flex-column;

      &:nth-child(odd) {
        @include flex-column;
      }

      gap: 2vw;
      .project-list-link-container {
        .project-list {
          width: 100%;
        }
        .project-links {
          width: 100%;
        }
      }
    }
  }
}
// ==================================================================
