@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-size: 16px;
  padding: 0 clamp(80px, 10vw, 200px);
  background-color: #333;
}

html {
  scroll-behavior: smooth;
}

.logo {
  font-size: clamp(1.75em, 2em + 1.5vw, 5vw);
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  scroll-margin-top: 80px;
}
@media (min-width: 768px) {
  section .section-content {
    display: flex;
    flex-direction: row;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open sans", sans-serif;
}

.section-header {
  display: flex;
  width: 100%;
  white-space: nowrap;
  align-items: center;
  gap: 3vw;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  color: #ffffff;
  font-size: clamp(1.25em, 1.5em + 1.5vw, 2vw);
}
.section-header .header-number {
  color: #eec14e;
  font-family: "Open sans", sans-serif;
}
.section-header::after {
  content: "";
  display: block;
  width: 100%;
  width: clamp(0%, 100%, 30vw);
  height: 2px;
  flex-shrink: 1;
  background-color: #eec14e;
  margin: 1rem 0;
}

.section-text-block {
  color: #ffffff;
  font-size: clamp(1em, 1em + 0.25vw, 1.5vw);
  margin: 2rem;
}
.section-text-block br {
  margin-bottom: 1rem;
}

.section-image-container {
  margin: auto;
  width: clamp(200px, 50vw, 800px);
  border: 2px solid #eec14e;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-image-container .section-image {
  width: 100%;
  height: 100%;
  position: relative;
  top: -0.5rem;
  left: -0.5rem;
}

.side-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 99;
  width: clamp(40px, 5vw, 80px);
  font-size: clamp(1.25em, 1.5em + 1.5vw, 2vw);
}

#left-container {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 clamp(24px, 2vw, 48px);
  line-height: clamp(24px, 2vw, 48px);
}
#left-container .social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#left-container .social-icon {
  color: #eec14e;
  padding: 0.5rem 0;
  font-size: clamp(1.25em, 1.5em + 1.5vw, 2vw);
}
#left-container .social-icon:hover {
  animation: bounce 2s infinite;
  scale: 1.2;
}

#right-container {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 clamp(24px, 2vw, 48px);
  line-height: clamp(24px, 2vw, 48px);
}
#right-container .email-link {
  color: #eec14e;
  padding: 0.5rem 0;
  writing-mode: vertical-lr;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 1px;
  transition: letter-spacing 200ms;
}
#right-container .email-link:hover {
  letter-spacing: 2px;
  transform: trnaslateY(-8px);
  color: #eec14e;
}
@media screen and (max-width: 1200px) {
  #right-container {
    bottom: auto;
    right: auto;
    top: 0;
    left: 0;
    rotate: 180deg;
  }
  #right-container .spacing-bar {
    background-color: transparent;
  }
}

.spacing-bar {
  align-self: center;
  justify-content: center;
  margin: auto;
  height: 10vh;
  width: 2px;
  background-color: #eec14e;
}

#page {
  width: clamp(340px, 100%, 1200px);
  background-color: #333;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 100;
  background: #222;
  box-shadow: 0 0 10px 0px black;
}
#header .logo {
  color: #eec14e;
  font-size: clamp(1.75em, 2em + 1.5vw, 5vw);
}

#nav {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 2rem;
  font-size: clamp(1em, 1em + 0.25vw, 1.5vw);
}
#nav .navlink .navlink-number {
  color: #eec14e;
}
#nav .navlink .navlink-word {
  color: #ffffff;
  transition: color 200ms;
}
#nav .navlink:hover .navlink-word {
  color: #eec14e;
}

.like-a-button-container {
  border: 1px solid #f0d966;
  padding: 0.5rem 1rem;
  color: #eec14e;
  transition: background-color 400ms, color 200ms;
  background: transparent;
}
.like-a-button-container:hover {
  background-color: #eec14e;
  color: #222;
}

#hero {
  display: flex;
  flex-direction: column;
}
#hero .hero-intro-text {
  color: white;
  font-size: clamp(1.75em, 2em + 1.5vw, 5vw);
  font-family: "Open sans", sans-serif;
  font-weight: 800;
}
#hero .hero-intro-text span {
  font-family: inherit;
  font-weight: inherit;
  color: #eec14e;
}
#hero .hero-button {
  font-size: clamp(1.25em, 1.5em + 1.5vw, 2vw);
  margin-top: 20vh;
  white-space: nowrap;
  padding: 0.5rem 10vw;
  letter-spacing: 1.5px;
  font-weight: 800;
}
#hero .section-content {
  margin-top: 20vh;
}
#about #skills-list {
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  justify-content: center;
  display: flex;
  padding: 0 5vw;
}
#about #skills-list .list-item .skill-list-title {
  color: #ffffff;
  font-size: clamp(1em, 1em + 0.25vw, 1.5vw);
}
#about #skills-list .list-item .list-icon {
  width: 1rem;
  height: auto;
  color: #eec14e;
}
#about .section-image-container {
  margin: 5vh auto;
}

#projects #projects-container {
  display: flex;
  flex-direction: column;
}
#projects .project-container {
  display: flex;
  flex-direction: column;
  margin: 5vh auto;
  justify-content: space-between;
}
#projects .project-container::after:not(:last-child) {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #eec14e;
  margin-top: 10vh;
}
#projects .project-container .project-title {
  color: #ffffff;
  font-size: clamp(1.25em, 1.5em + 1.5vw, 2vw);
  text-align: right;
}
#projects .project-container .project-image-container {
  width: clamp(400px, 100%, 800px);
  aspect-ratio: 10/8;
  border: 2px solid #eec14e;
  position: relative;
  top: 4px;
  left: 4px;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
#projects .project-container .project-image-container .project-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
  position: absolute;
  top: -8px;
  left: -8px;
  -o-object-position: 0 0;
     object-position: 0 0;
  filter: grayscale(0.6);
  transition: filter 300ms;
}
#projects .project-container .project-image-container .project-image:hover {
  filter: grayscale(0);
}
#projects .project-container .project-information {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 10vh 0;
}
#projects .project-container .project-text-block {
  background: #555;
  padding: 1rem;
  color: #ffffff;
  box-shadow: 4px 4px 10px 0px #222;
  font-size: clamp(1em, 1em + 0.25vw, 1.5vw);
}
#projects .project-container .project-library-list {
  display: flex;
  flex-direction: row;
  color: #eec14e;
  justify-content: flex-end;
  font-family: "Roboto Mono", monospace;
  flex-wrap: wrap;
  width: 80%;
  align-self: flex-end;
}
#projects .project-container .project-library-list .project-list-item {
  font-size: clamp(1em, 1em + 0.25vw, 1.5vw);
  color: #eec14e;
}
#projects .project-container .project-library-list .project-list-item:hover {
  color: #ffffff;
}
#projects .project-container .project-library-list .project-list-item ~ .project-list-item {
  margin-left: 1rem;
}
#projects .project-container .project-library-list .project-list-item ~ .project-list-item::before {
  content: "/";
  margin-right: 1rem;
}
#projects .project-container .project-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
}
#projects .project-container .project-links .project-link {
  color: #ffffff;
  font-size: clamp(1.75em, 2em + 1.5vw, 5vw);
  transition: color 200ms;
}
#projects .project-container .project-links .project-link:hover {
  color: #eec14e;
}
#projects .project-container .project-links .project-link:hover {
  color: #ffffff;
}
#projects .project-container .project-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  vertical-align: top;
  height: 60px;
  line-height: 30px;
}
@media screen and (min-width: 900px) {
  #projects .project-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  #projects .project-container:nth-child(odd) {
    flex-direction: row-reverse;
  }
  #projects .project-container:nth-child(odd) .project-title {
    text-align: left;
  }
  #projects .project-container .project-image-container {
    width: 100%;
  }
  #projects .project-container .project-image-container .project-image {
    transition: object-position 400ms, scale 200ms, width 200ms, height 200ms;
    transition: object-position 400ms, scale 200ms, width 200ms, height 200ms, -o-object-position 400ms;
  }
  #projects .project-container .project-image-container .project-image:hover {
    width: 30vw;
  }
  #projects .project-container .project-image-container .project-image:active {
    -o-object-position: 0 100%;
       object-position: 0 100%;
  }
}/*# sourceMappingURL=sharedstyles.css.map */