@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid pink;
}

body {
  max-width: 100;
  min-width: 460px;
  background-color: #333;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.side-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: clamp(40px, 5vw, 120px);
  z-index: 99;
}

#left-container {
  font-size: clamp(1.75rem, 1.5rem + 1.5vw, 2rem);
  position: fixed;
  bottom: 0;
  left: 0;
}
#left-container .social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#left-container .social-icon {
  color: #eec14e;
  padding: 0.5rem 0;
}
#left-container .social-icon:hover {
  animation: bounce 2s infinite;
  scale: 1.2;
}

#right-container {
  font-size: clamp(1.25rem, 1.25rem + 1vw, 1.25rem);
  font-family: monospace;
  position: fixed;
  bottom: 0;
  right: 0;
}
#right-container .email-link {
  color: #eec14e;
  padding: 0.5rem 0;
  writing-mode: vertical-lr;
  letter-spacing: 1px;
  transition: letter-spacing 200ms;
}
#right-container .email-link:hover {
  letter-spacing: 2px;
  transform: trnaslateY(-8px);
  color: #eec14e;
}
@media screen and (max-width: 900px) {
  #right-container {
    bottom: auto;
    right: auto;
    top: 0;
    left: 0;
    rotate: 180deg;
  }
  #right-container .spacing-bar {
    background-color: transparent;
  }
}

.spacing-bar {
  align-self: center;
  justify-content: center;
  margin: auto;
  height: 10vh;
  width: 2px;
  background-color: #eec14e;
}

#header {
  width: 100vw;
  position: fixed;
  top: 0;
  padding: 0 0.5rem;
  height: 60px;
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  background: #222;
  box-shadow: 0 0 10px 0px black;
}
#header .logo {
  font-size: clamp(1.75rem, 1.5rem + 1.5vw, 2rem);
  color: #eec14e;
}
#header .resume-link {
  font-family: "Open sans", sans-serif;
}

#nav {
  font-size: clamp(0.75rem, 0.75rem + 0.25vw, 1rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  height: 100%;
  font-family: monospace;
}
#nav .navlink .navlink-number {
  color: #eec14e;
  font-family: monospace;
}
#nav .navlink .navlink-word {
  color: #ffffff;
  transition: color 200ms;
  font-family: monospace;
}
#nav .navlink:hover .navlink-word {
  color: #eec14e;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: calc(100vh - 60px);
  scroll-margin-top: 60px;
  margin-bottom: 20vh;
}

.section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: clamp(1.25rem, 1.25rem + 1vw, 1.25rem);
  justify-content: flex-start;
  margin-bottom: 2rem;
  width: 100%;
  height: 100%;
  font-family: "Open sans", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  color: #ffffff;
  gap: 1rem;
  white-space: nowrap;
  padding: 0 0.5rem;
}
.section-header .header-number {
  color: #eec14e;
  font-family: monospace;
}
.section-header::after {
  content: "";
  display: block;
  width: 100%;
  width: clamp(0%, 100vw, 100%);
  height: 2px;
  flex-shrink: 1;
  background-color: #eec14e;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: clamp(320px, 40vw, 1200px);
}

.section-text-block {
  font-size: clamp(0.75rem, 0.75rem + 0.25vw, 1rem);
  width: 100%;
  font-family: "Open sans", sans-serif;
  color: #ffffff;
}
.section-text-block br {
  margin-bottom: 1rem;
}

.click-me-container {
  border: 1px solid #f0d966;
  padding: 0.5rem 1rem;
  color: #eec14e;
  transition: background-color 400ms, color 200ms;
  background: transparent;
}
.click-me-container:hover {
  background-color: #eec14e;
  color: #222;
}

#page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-left: clamp(40px, 5vw, 120px);
  padding-right: 0;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: "Open sans", sans-serif;
}
#hero .hero-intro-text {
  font-size: clamp(1.75rem, 1.5rem + 1.5vw, 2rem);
  font-family: "Open sans", sans-serif;
  color: #ffffff;
  font-weight: 800;
  width: clamp(320px, 40vw, 1200px);
}
#hero .hero-intro-text .hero-name {
  font-family: inherit;
  font-weight: inherit;
  color: #eec14e;
  font-family: "Open sans", sans-serif;
  white-space: nowrap;
}
#hero .hero-button {
  font-size: clamp(1.25rem, 1.25rem + 1vw, 1.25rem);
  margin-top: 10vh;
  white-space: nowrap;
  padding: 0.5rem 10vw;
  letter-spacing: 1.5px;
  font-weight: 800;
}
#hero .section-content {
  margin-top: 20vh;
}

#about .about-image-container {
  width: clamp(320px, 30vw, 480px);
  aspect-ratio: 1/1.5;
  -o-object-fit: cover;
     object-fit: cover;
  border: 0.2rem solid #eec14e;
  position: relative;
  top: 0.5rem;
  left: 0.5rem;
  margin-bottom: 5vh;
}
#about .about-image-container .about-image {
  width: 100%;
  height: 100%;
  position: relative;
  top: -0.5rem;
  left: -0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
#about #skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.1rem;
  margin-top: 2rem;
  width: 100%;
}
#about #skills-list .skill-list-item {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  color: #eec14e;
  height: 2rem;
  line-height: 2rem;
  font-family: monospace;
}
#about #skills-list .skill-list-item .skill-list-title {
  font-size: clamp(0.75rem, 0.75rem + 0.25vw, 1rem);
}
#about #skills-list .skill-list-item .skill-list-icon {
  font-size: clamp(2.5rem, 2rem + 2vw, 3rem);
  width: 1.25rem;
  height: auto;
  color: #eec14e;
}

#projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#projects-container .project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10vh;
}
#projects-container .project-image-container {
  width: clamp(200px, 100%, 40vw);
  margin: auto;
  aspect-ratio: 10/8;
  border: 2px solid #eec14e;
  position: relative;
  top: 4px;
  left: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}
#projects-container .project-image-container .project-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
  position: absolute;
  top: -8px;
  left: -8px;
  -o-object-position: 0 0;
     object-position: 0 0;
  filter: grayscale(0.6);
  transition: filter 300ms;
}
#projects-container .project-image-container .project-image:hover {
  filter: grayscale(0);
}
#projects-container .project-information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#projects-container .project-title {
  font-size: clamp(1.25rem, 1.25rem + 1vw, 1.25rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: "Open sans", sans-serif;
}
#projects-container .project-text-block {
  font-size: clamp(0.75rem, 0.75rem + 0.25vw, 1rem);
  color: #ffffff;
  font-family: "Open sans", sans-serif;
  background: #555;
  box-shadow: 4px 4px 10px 0px #222;
}
#projects-container .project-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#projects-container .project-links .project-link {
  font-size: clamp(1.75rem, 1.5rem + 1.5vw, 2rem);
  color: #eec14e;
  transition: color 200ms;
  animation: bounce 3s infinite;
}
#projects-container .project-links .project-link:hover {
  color: #ffffff;
  animation: bounce 0s infinite;
}
#projects-container .project-library-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #eec14e;
  font-family: monospace;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-self: flex-end;
}
#projects-container .project-library-list .project-list-item {
  font-size: clamp(0.75rem, 0.75rem + 0.25vw, 1rem);
  color: #eec14e;
}
#projects-container .project-library-list .project-list-item ~ .project-list-item::before {
  content: "/";
  margin: 0 0.25rem;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=sharedstyles.css.map */