@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-size: 16px;
  padding: 0 clamp(80px, 10vw, 200px);
  background-color: #333;
}

html {
  scroll-behavior: smooth;
  scroll-margin-top: 100px;
}

.logo {
  font-size: clamp(1.75em, 2em + 1.5vw, 5vw);
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open sans", sans-serif;
}

.section-header {
  display: flex;
  width: 100%;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  gap: 3vw;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  color: #ffffff;
}
.section-header .header-number {
  color: #eec14e;
  font-family: "Open sans", sans-serif;
}
.section-header::after {
  content: "";
  display: block;
  width: 100%;
  width: clamp(0%, 100%, 30vw);
  height: 2px;
  flex-shrink: 1;
  background-color: #ffffff;
  margin: 1rem 0;
}

.section-text-block {
  color: #ffffff;
  font-size: clamp(1em, 1em + 0.25vw, 1.5vw);
  margin: 1rem 0;
}
.section-text-block br {
  margin-bottom: 1rem;
}

.section-image-container {
  margin: auto;
  width: clamp(200px, 50vw, 400px);
  border: 2px solid #eec14e;
  position: relative;
}
.section-image-container .section-image {
  width: 100%;
  height: 100%;
  position: relative;
  top: -0.5rem;
  left: -0.5rem;
}

#page {
  width: 100vw;
  max-width: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
}
#page .side-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 99;
  font-size: clamp(1.25em, 1.5em + 1.5vw, 2vw);
}
#page .left-container {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 clamp(24px, 2vw, 48px);
  line-height: clamp(24px, 2vw, 48px);
}
#page .left-container .social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#page .left-container .social-icon {
  color: #eec14e;
  padding: 0.5rem 0;
  font-size: clamp(1.25em, 1.5em + 1.5vw, 2vw);
}
#page .left-container .social-icon:hover {
  animation: bounce 2s infinite;
  scale: 1.2;
}
#page .left-container .spacing-bar {
  align-self: center;
  justify-content: center;
  margin: auto;
  height: 10vh;
  width: 2px;
  background-color: #eec14e;
}
#page .right-container {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 clamp(24px, 2vw, 48px);
  line-height: clamp(24px, 2vw, 48px);
}
#page .right-container .email-link {
  color: #eec14e;
  padding: 0.5rem 0;
  writing-mode: vertical-lr;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 1px;
  transition: letter-spacing 200ms;
}
#page .right-container .email-link:hover {
  letter-spacing: 2px;
  transform: trnaslateY(-8px);
  color: #eec14e;
}
@media screen and (max-width: 1200px) {
  #page .right-container {
    bottom: auto;
    right: auto;
    top: 0;
    left: 0;
    rotate: 180deg;
  }
  #page .right-container .spacing-bar {
    background-color: transparent;
  }
}
#page .spacing-bar {
  align-self: center;
  justify-content: center;
  margin: auto;
  height: 10vh;
  width: 2px;
  background-color: #eec14e;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 2rem;
  font-size: clamp(1em, 1em + 0.25vw, 1.5vw);
}
#nav .navlink .navlink-number {
  color: #eec14e;
}
#nav .navlink .navlink-word {
  color: #ffffff;
  transition: color 200ms;
}
#nav .navlink:hover .navlink-word {
  color: #eec14e;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 100;
  background: #222;
  box-shadow: 0 0 10px 0px black;
}
#header .logo {
  color: #eec14e;
  font-size: clamp(1.75em, 2em + 1.5vw, 5vw);
}

.like-a-button-container {
  border: 1px solid #f0d966;
  padding: 0.5rem 1rem;
  color: #eec14e;
  transition: background-color 400ms, color 200ms;
  background: transparent;
}
.like-a-button-container:hover {
  background-color: #eec14e;
  color: #222;
}

#hero {
  display: flex;
  flex-direction: column;
}
#hero .hero-intro-text {
  color: white;
  font-size: clamp(1.75em, 2em + 1.5vw, 5vw);
  font-family: "Open sans", sans-serif;
  font-weight: 800;
  margin-top: 30%;
}
#hero .hero-intro-text span {
  font-family: inherit;
  font-weight: inherit;
  color: #eec14e;
}
#hero .hero-button {
  margin-top: 20%;
}
#hero .section-content {
  margin-top: clamp(100px, 20%, 20vh);
}/*# sourceMappingURL=sharedstyles.css.map */