@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

// font-family: 'Abril Fatface', cursive;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Poppins', sans-serif;

// * {
//   border: 1px solid pink;
// }

$deep-red: #d89f9f;
$light-red: #ffdddd;
$dark-red: #772222;
$darker-red: #552222;

$light-gold: #f0d966;
$dark-gold: #665522;
$deep-gold: #bba528;

$light-blue: #44ffdd;
$dark-blue: #112244;
$darker-blue: #001133;
$deep-blue: #225588;
$alt-blue: #0f203f;

$background: #333;
$header-background: #222;
$text-highlight-1: #eec14e;
$text-highlight-2: $light-blue;
$text-color-light: #ffffff;
$text-color-dark: #000000;

$highlight: $light-gold;
$highlight2: $light-blue;

$monospace: "Roboto Mono", monospace;
$serif: "Abril Fatface", serif;
$sans: "Open sans", sans-serif;

body {
  font-size: 16px;
  padding: 0 clamp(80px, 10vw, 200px);
  background-color: $background;
}
html {
  scroll-behavior: smooth;
  scroll-margin-top: 100px;;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin text-shadow-hover {
  text-shadow: 2px 4px 2px black;
}

@mixin text-small {
  font-size: clamp(1em, calc(1em + 0.25vw), 1.5vw);
}
@mixin text-medium {
  font-size: clamp(1.25em, calc(1.5em + 1.5vw), 2vw);
}
@mixin text-large {
  font-size: clamp(1.75em, calc(2em + 1.5vw), 5vw);
}
@mixin text-huge {
  font-size: clamp(2.5em, calc(3em + 2vw), 10vw);
}

.logo {
  @include text-large;
  &:hover {
  }
}

// **********  Outer Layer  **********
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

section {
  min-height: 100vh;
  @include flex-column;
  justify-content: center;
  align-items: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $sans;
  // border: 1px solid white;
}

.section-header {
  display: flex;
  width: 100%;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  gap: 3vw;
  font-family: $sans;
  font-weight: 400;

  text-transform: capitalize;
  color: $text-color-light;
  .header-number {
    color: $text-highlight-1;
    font-family: $sans;
  }
  &::after {
    content: "";
    display: block;
    width: 100%;
    width: clamp(0%, 100%, 30vw);
    height: 2px;
    flex-shrink: 1;
    background-color: $text-color-light;
    margin: 1rem 0;
  }
}

.section-text-block{
  color: $text-color-light;
  @include text-small;
  margin: 1rem 0;
  br{
    margin-bottom: 1rem;
  }
}

.section-image-container{
  margin: auto;
  width: clamp(200px, 50vw, 400px);
  border: 2px solid $text-highlight-1;
  position: relative;
  .section-image{
    width: 100%;
    height: 100%;
    position: relative;
    top: -0.5rem;
    left: -0.5rem;
  }


}


.section-content{

}
#page {
  width: 100vw;
  max-width: 100%;
  background-color: $background;
  display: flex;
  flex-direction: column;

  .side-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 99;
    @include text-medium;
  }

  .left-container {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 clamp(24px, 2vw, 48px);
    line-height: clamp(24px, 2vw, 48px);

    .social-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .social-icon {
      color: $text-highlight-1;
      padding: 0.5rem 0;
      @include text-medium;
      &:hover {
        animation: bounce 2s infinite;

        scale: 1.2;
      }
    }

    .spacing-bar {
      align-self: center;
      justify-content: center;
      margin: auto;
      height: 10vh;
      width: 2px;
      background-color: $text-highlight-1;
    }
  }

  .right-container {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0 clamp(24px, 2vw, 48px);
    line-height: clamp(24px, 2vw, 48px);

    .email-link {
      color: $text-highlight-1;
      padding: 0.5rem 0;
      writing-mode: vertical-lr;
      font-family: $monospace;
      letter-spacing: 1px;
      transition: letter-spacing 200ms;

      &:hover {
        letter-spacing: 2px;
        transform: trnaslateY(-8px);
        color: $text-highlight-1;
      }
    }

    @media screen and (max-width: 1200px) {
      bottom: auto;
      right: auto;
      top: 0;
      left: 0;
      rotate: 180deg;
      .spacing-bar {
        background-color: transparent;
      }
    }
  }

  .spacing-bar {
    align-self: center;
    justify-content: center;
    margin: auto;
    height: 10vh;
    width: 2px;
    background-color: $text-highlight-1;
  }

  // end out layer
}
#nav {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 2rem;
  @include text-small;

  .navlink {
    .navlink-number {
      color: $text-highlight-1;
    }
    .navlink-word {
      color: $text-color-light;
      transition: color 200ms;
    }
    &:hover {
      .navlink-word {
        color: $text-highlight-1;
        // font-size: 1.5rem;
      }
    }
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 100;
  // background: #00000050;
  background: $header-background;
  box-shadow: 0 0 10px 0px black;
  .logo {
    color: $text-highlight-1;
    @include text-large;
  }
}
.like-a-button-container {
  border: 1px solid $highlight;
  padding: 0.5rem 1rem;
  color: $text-highlight-1;
  transition: background-color 400ms, color 200ms;
  background: transparent;
  &:hover {
    background-color: $text-highlight-1;
    color: $header-background;
  }
}
// REMOVE CONTENT FROM #PAGE -kevin

#hero {
  @include flex-column;

  .hero-intro-text {
    color: white;
    @include text-large;
    font-family: $sans;
    font-weight: 800;
    margin-top: 30%;

    span {
      font-family: inherit;
      font-weight: inherit;
      color: $text-highlight-1;
    }
  }

  .hero-button {
    margin-top: 20%;
  }

  .section-content {
    margin-top: clamp(100px, 20%, 20vh);
  }
  .section-text-block {
  }
}
