li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

#page {
  width: 100vw;
  height: 200vh;
  background-color: #112244;
  display: flex;
}

#page-content {
  margin: 80px 80px 80px;
  width: 100vw;
}

section {
  height: clamp(400px, 60vh, 100%);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: clamp(2rem, 10vw, 200px);
}
section h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  margin: 0.5rem 0;
}
section h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
section p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin: 0.5rem 0;
  font-weight: 400;
}
section .section-header {
  position: absolute;
  top: 12px;
  width: 80%;
  box-shadow: 0px 2px 0 0 #d89f9f;
}
section:nth-child(odd) {
  background: #772222;
  color: white;
  text-align: left;
}
section:nth-child(odd) .section-header {
  position: absolute;
  top: 12px;
}
section:nth-child(odd) .section-content {
  display: flex;
  flex-direction: column;
  align-items: left;
}
section:nth-child(even) {
  background: #44ffdd;
  color: black;
}
section:nth-child(even) .section-header {
  position: absolute;
  top: 12px;
}
section:nth-child(even) .section-content {
  display: flex;
  flex-direction: column;
  align-items: right;
  text-align: right;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 100;
  background: rgba(0, 0, 0, 0.3137254902);
}
#header .logo {
  font-size: 1.5rem;
  color: #ccbb66;
  font-weight: 700;
  letter-spacing: 1px;
  transition: letter-spacing 200ms;
}
#header .logo:hover {
  letter-spacing: 2px;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  justify-content: right;
  gap: 2rem;
  font-size: 14px;
}
#nav .navlink .navlink-number {
  color: #ccbb66;
}
#nav .navlink .navlink-word {
  color: white;
  transition: color 200ms, font-size 200ms;
}
#nav .navlink:hover .navlink-word {
  color: #ccbb66;
}

.like-a-button-container {
  border: 1px solid #ccbb66;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: #ccbb66;
  font-weight: 700;
  transition: background-color 400ms, color 200ms;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.like-a-button-container:hover {
  background-color: #ccbb66;
  color: #112244;
}

.left-container {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
}
.left-container .social-links {
  display: flex;
  flex-direction: column;
}
.left-container .social-icon {
  font-size: 32px;
  color: #ccbb66;
  padding: 0.5rem 0;
  transition: transform 0.3s ease-in-out;
}
.left-container .social-icon:hover {
  transform: translateY(-5px);
}

.right-container {
  position: fixed;
  bottom: 0;
  right: 0;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
}
.right-container .email-link {
  font-size: 32px;
  color: #ccbb66;
  padding: 0.5rem 0;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  letter-spacing: 1px;
  transition: letter-spacing 200ms;
  line-height: 32px;
}
.right-container .email-link:hover {
  letter-spacing: 2px;
}
.right-container .spacing-bar {
  align-self: center;
  justify-content: center;
  margin: auto;
  height: 80px;
  width: 1px;
  background-color: #ccbb66;
}

.spacing-bar {
  align-self: center;
  justify-content: center;
  margin: auto;
  height: 80px;
  width: 1px;
  background-color: #ccbb66;
}/*# sourceMappingURL=styles.css.map */